<!--about-->
	<div class="about">
		<div class="container">
			<div class="title-info wow fadeInUp animated" data-wow-delay=".5s">
				<h3 class="title">Hakkımızda<span> Us</span></h3>
			</div>
			<div class="about-info">
				<p>Bilinçli kür ve orijinal ürünlere uygun fiyatla ulaşılabilirliği için kendi çevremizde başlattığımız oluşum zaman içerisinde talebin çoğalması ile giderek büyüyen ailemizin istekleri üzerine daha geniş bir çevreye hizmet vermek için açılmış olan sitemiz şu an da birçok üst düzey sporcunun yanında bu işe yeni giren
				bilgi eksiği olan acemi kişilere de yardımcı olmak bilinçli yüksek verimli bir kür süreci geçirmesi için açılmıştır. Kapıda ödeme seçeneği ile ürün elinize ulaşana kadar bir ücret ödeme zorunluluğunuz olmadan ürününüzü görerek alabilmenizi sağlıyoruz. Ürünlerinden sadece satışı değil ürün kullanımı
				hakkında destek hattımızla kür öncesi fikir almak ve kür boyunca destek alabilirsiniz. Ürünlerin orijinallerini markaların kendi sitelerindeki product ve QR kod kısmından her ürünümüzü bizzat onaylatıp güvenle kullanabilirsiniz. Bilgi almak, istekleriniz için whatapp hattımızla ileşime geçebilirsiniz.</p>
			</div>
		</div>
	</div>
	<!--//about-->
